@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}

/* CSS for header */
.header {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-top: 0px;
  height: 80px;
  width: 1550px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right,#4d174d,#5a2e49);
  /* background-color: #3eb489; */
}


.header .logo {
    display: flex;
    height: 60px;
    width: 60px;
  margin-left: 15px;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
}

.nav-items {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #fff;
  padding: 35px 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin:0 auto;
    width: 600px;
    position:absolute;
    top: 15%;
    left: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 10px;
    height: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type="date"],
input[type="time"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.container1 {
    background-color: #fff;
    padding: 20px;
    margin: 10px auto;
    width: 600px;
    height: auto;
    position: absolute;
    top: 13%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 60px;
}

.timeDrawer {
    display: none;
    overflow: hidden;
    max-height: 400px;
    transition: max-height 0.3s ease-in-out;
}

.timeDrawer.open {
    display: block;
    max-height: 400px; /* Adjust this value as needed */
    transition: max-height 0.3s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #f0f0f0;
}
button a{
    background-color: white;
    color: black;
}
button h2{
    color: #6e3097;
}
button{
    color: black;
}