
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
      
    }
  
    .verification-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to right,#4d174d,#5a2e49);
       
      padding: 20px;
      width:400px;
      height: 250px;
      border-radius: 8px;
       
      box-shadow:0px 15px 20px #065964;
    }
    h2{
      font-size: 38px;
      font-weight: 600;
      width: 300px;
      text-align: center  ;
      color: #ffffff;
      padding-bottom: 8px;
      border-bottom: 2px rgb(78, 69, 69);
  }
  
    .verification-input {
      padding: 10px;
      border: 1px solid #f6f6f6;
      border-radius: 4px;
      margin-bottom: 10px;
      width: 270px;
    }
  
    .verify-button {
      width: 50%;
      margin-top: 10px;
      padding: 10px;
      display: block;
      color: #fff;
      border: none;
      border-radius:5px ;
      cursor: pointer;
      background-image: linear-gradient(to right,#aa076b,#61045f);
  }
  .verify-button:hover{
      background-image: linear-gradient(to right,#61045f,#aa076b);
  }
  .btn{
    color: #000;
  }
    
  
  
   