<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <button id="downloadButton">Download PDF</button>

    <script>
        // JavaScript to add functionality to the download button
document.getElementById('downloadButton').addEventListener('click', function() {
    // Replace 'your-file.pdf' with the path to the PDF file you want to download
    window.location.href = 'C:\\Users\\asus\\OneDrive\\Desktop\\fp\\harshal_appointment.pdf' ;
});

    </script>
</body>
</html>
